*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    padding: 0 auto;
    max-width: 1600px;
}  
.font-OpenSan{
    font-family: 'Open Sans', sans-serif;
}  
.container{
    max-width: 940px;
    padding:0;

}
.column{
    float: left;
}
.clear{
    clear: both;
}
.banner {
    max-width: 1600px;
    position: relative;
}
.banner img{
    width: 100%;
}
nav{
    width: 100%;
    background: #252222;
    height: 100px;
}    

.banner-title{
    padding-left: 170px;
    position: absolute;
    margin-top: -330px;
}
.banner-title p{
    color:#ffffff;
    font-size: 90px;
    line-height: 66%;
}
.folio{
    max-width: 140px;
    width:140px;
    height: 100px;
    padding-left: 27px;
    padding-right: 320px;
    padding-top: 12px; 
    padding-bottom: 33px; 
}
.folio a{
    font-size:48px; 
    color:#ffffff;
    text-decoration: none;
  
}
.menu{
    width:300px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.menu ul li{
    display: inline;
    color:#fff;
    list-style: none;
    

}
.menu ul li a {
    font-size:18px;
    color:#fff;
    text-decoration: none;
    padding-right: 20px;
    font-size: 14pt;
    
}
.menu a:hover{
    text-decoration: underline;
    text-decoration-color: #5da78a;
    color:#5da78a ;
    line-height: 1.5px;
}
.custom-link{
    width:293px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 30px;
  

} 
.custom-link ul li{
    list-style-type: none;
    display: inline;
    padding-left: 14px;
}
.custom-link a{
    text-decoration: none;
    color:#ffff;
    
    
}
.custom-link i{
    width: 26px;
    height: 26px;
    font-size: 30px;
    border-radius: 50%;
    color:#fff;
    position: relative;
    overflow: hidden;

}
.fa-linkedin:before,
.fa-facebook-square:before,
.fa-twitter-square:before,
.fa-flickr:before {
    position: relative;
    top: -1px;
}
.portfolio{
    width: 100%;
    height: 1850px;
    background: #65ba99;
    color: #ffffff;
    
}
.portfo-title{
    height: 180px;
    padding-top: 60px;
    margin-bottom: 20px;
   
}
.portfo-title h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: -8px;
}
.portfo-title p{
    font-size: 24px;
    text-align: center;
}
.portfolio-image{
    padding-left: 15px;
    padding-right: 15px;
}
.portfolio-image img{
    width: 100%;
    /* padding:0px; */
    float: left;
    
}
.image{
    padding:0px;
    position: relative;
}
.image:hover .image-hover{
    opacity: 0.6;
}
.image-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #669985;
}
.image-hover ul {
    text-align: center;
    position: absolute;                  
    bottom: 10px;     
    width: 100%;
}
.image-hover ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}
/* .image-hover ul li a{
    color:#eee;
} */
.icon {
    color: white;
    /* font-size: 100px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.icon-bot{
    color: #eee;
  }
/* .icon-bot2{
    color: #eee;
    font-size: 100px;
    position: absolute;
    bottom: 20px;
    left:41%;
    text-align: center;
  }
.icon-bot3{
    color: #eee;
    font-size: 100px;
    position: absolute;
    bottom: 20px;
    left:59%;
    text-align: center;
  }
.icon-bot4{
    color: #eee;
    font-size: 100px;
    position: absolute;
    bottom: 20px;
    left:77%;
    text-align: center;
  } */

.testimonial{
    background-image: url("../images/testmi.jpg");
    width: 100%;
    height: 300px;
}
.testimonial-cap{
    color:#ffffff;
    font-size: 36px;
    padding-top: 20px;
}
.fa-quote-left:before {

    position: relative;
    top: 23px;
    left: -15px;
}
.fa-quote-right:before {
 
    position: relative;
    top: -25px;
}
.testimonial-cap p{
       padding-left: 30px;
       margin: 0;
}
.news{
    width: 100%;
    height: 680px;
    background:#cdcdcd;
    color:#252222;
}
.tags a{
    color:white;
    background:#59a386;
    padding: 0px 12px;
    margin: 0px 1px;
    text-decoration: none
}
.tags a:hover{
    background: #e2534b;
}
.sponsor{
    width: 100%;
    height: 200px;
    background: #bebebe;
}
.sponsor img{
    width: 100%;
   
}
.bio{
    width: 100%;
    height: 600px;
    background: #e2534b;
    color:#ffffff;
}
.bio h2{
    font-size: 48px;
    color: #252222;
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 50px 0px;
}
.bio p{
    font-size: 14px;
}
.bio img{
    border-radius: 50%;

}